.restaurant__about{
    display: inline-flex;

    padding: 100px;
}

.restaurant__about div{
    margin:auto;
}

.restaurant__about-images{
    width: 10%;
}

.restaurant__about-images p{
    text-align: center;
}

.knife-image{
    width: 100%;
}

.restaurant__about-item_one{
    padding-right: 50px;
    text-align: right;
}

.restaurant__about-item_two{
    padding-left: 50px;
}