.restaurant__about{
    display: inline-flex;

    padding: 100px;
}

.restaurant__about div{
    margin:auto;
}

.restaurant__about-images{
    width: 10%;
}

.restaurant__about-images p{
    text-align: center;
}

.knife-image{
    height: 910px;
}

.restaurant__about-item_one{
    padding-right: 50px;
    text-align: right;
}

.restaurant__about-item_two{
    padding-left: 50px;
}

@media screen and (max-width: 1080px) {
    .restaurant__about{
        flex-direction: column;
    }
    .restaurant__about-item_one{
        padding-right: 0px;
        padding-bottom: 50px;
    }
    
    .restaurant__about-item_two{
        padding-left: 0;
    }
}


@media screen and (max-width: 750px) {
    .restaurant__about{
        padding: 50px;
    }
}

@media screen and (max-width: 590px) {
    .restaurant__about{
        padding-left:30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 300px) {
    .restaurant__about{
        padding-left:15px;
        padding-right: 15px;
    }
}