*{
  margin: 0;
  padding: 0;
}

.golden__text{
  color: var(--dcca-87, #DCCA87);
  font-family: Cormorant Upright;
  text-transform: capitalize;
}

.app__bg {
  background: url('../public/assets/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

@media screen and (max-width: 550px) {
  h3{
    font-size: 18px;
  }

  h1{
    font-size: 55px;
  }

  p{
    font-size: 10px;
  }
}

@media screen and (max-width: 300px) {
  h3{
    font-size: 13px;
  }

  h1{
    font-size: 40px;
  }

  p{
    font-size: 8px;
  }

  button{
    font-size: 10px;
  }
}